@font-face{
    font-family: code;
    src:url(../fonts/Roboto-Light.ttf);
    }
@font-face{
        font-family: old;
        src:url(../fonts/FSEX300.ttf);
   }
html {
    scroll-behavior: smooth;
  }
/*BUTTON HOME*/
.cont-button-home{
    display: flex;
    justify-content: center;
    align-items: center; 

}


    
        .cont-button-home button{
            font-family: code;
            font-weight: 600;
            font-size: 1.3em; 
            letter-spacing: 2px;
             margin: 20px;
             border: none;
             border-radius: 5px 5px 5px 5px;     
             background-image:linear-gradient(90deg,rgb(184, 102, 252),rgb(0, 255, 255),rgb(255, 0, 128));
             background-size:400% 400%;
             
             transition: 1s;            
                        }
                        .cont-button-home button a{
                            color: black;
                            text-decoration: none;
                        }
        @keyframes gradiente{
            0%{background-position: 0 50%;}
            50%{background-position: 100% 50%;}
            100%{background-position: 0 50%;}
        }
                            .cont-button-home button:hover{                           
                            animation: gradiente 1s ease-in infinite;
                               
                                        }
/*END BUTTON HOME*/

/*BUTTON NAV*/
.cont-button-nav button{
  background-color: rgb(149, 233, 205);
  font-family: old;
  font-size: 1.3em;
  margin: 20px;
}
    .cont-button-nav button a{
        color: black;
        text-decoration: none;
    }

/*END BUTTON NAV*/

/*BUTTON CARD*/
.cont-button-card button {
    font-family: code;
    font-weight: 400;
    font-size: 1.3em; 
    letter-spacing: 0px;
     border: none;
     border-radius: 5px 5px 5px 5px;     
     background-image:linear-gradient(90deg,rgb(255, 155, 210),rgb(202, 155, 255),rgb(169, 242, 255));
     background-size:400% 400%;
     transition: 1s;  
                }
@keyframes gradiente{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}
            .cont-button-card button:hover{                           
                    animation: gradiente 1s ease-in infinite;
                       
                                }
/*END BUTTON CARD*/

/*BUTTON FORM*/
.cont-button-form{
    display: flex;
    justify-content: center;
}
.cont-button-form button {
    font-family: code;
    font-weight: 500;
    font-size: 1.7em; 

     border: none;
     border-radius: 5px 5px 5px 5px;     
     background-image:linear-gradient(90deg,rgb(255, 83, 83),rgb(203, 211, 92),rgb(229, 124, 255));
     background-size:400% 400%;
     margin-top: 20px;
     transition: 1s;  
                }
@keyframes gradiente{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}
form .cont-button-form button:hover{                           
                    animation: gradiente 1s ease-in infinite;
                       
                                }
/*END BUTTON CARD AND FORM*/

.navbar{
background-color: #cccccc ;
font-family: old;
box-shadow: 2px 2px 2px 2px rgb(80, 80, 80);
}
.logo{
    width: 80px;
    height: 80px;
}
.linea{
    height: 4px;
    background-image:linear-gradient(90deg,rgb(0, 288, 288), rgb(253, 28, 223),rgb(255, 97, 97),rgb(0, 255, 255));
    background-size:400% 400%;
    animation: gradiente 3s ease-in infinite;
}
#title-a, #title-b,#title-c,#title-d{
    font-family: old;
    font-weight:400;
    color: #ffffff;
    background-color: rgb(13, 17, 23);
    text-align: center;
    margin-bottom: 0px;
    padding-top: 100px;
    padding-bottom: 100px;
    font-size: 5em;  

    
                    }
section:before, .cont-about:before, .cont-cards:before,.cont-contacts:before, .cont-tools:before{
    content:'';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
                    }
section{
    background-image: url(../imgs/xK.gif);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    background-attachment: fixed;
}
.cont-home{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(13, 17, 23);
    
    
    box-shadow: 10px 20px 20px 50px  rgb(13, 17, 23);
}
            .home h5{
                     text-align: center;
                     font-size: 2em;
                     color:#ffffff;
                     letter-spacing: 10px;
                     font-family: old;
                    }
            .home h1{
                     text-align: center;
                     font-size: 5em;
                     color:rgb(245, 255, 107);
                     font-family: old;  
                    }

            .home h2{  
                     position: relative;
                     font-size: 1.5em;
                     text-align: center;
                     color: #ffffff;
                     letter-spacing: 10px;
                     font-family: old;
                    }
                
                    .home h2 span{
                                  position: absolute;
                                  right: 0;
                                  width: 0;
                                  background-color: rgb(13, 17, 23);
                                  border-left: 4px solid rgb(255, 255, 255);
                                  animation: maquina 3s infinite alternate steps(21) ;
                                 }
                    @keyframes maquina{
                                       from{
                                            width: 100%;
                                           }
                                       to{
                                            width: 0;
                                          }
                                    }                
.cont-about{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/1112563.jpg);
    background-attachment: fixed;
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    font-size: 1.2em;
    font-family: code;
    letter-spacing: 2px;
    color: white;
    font-weight: 100;
    position: relative;
    padding: 5%;
    object-fit: cover;

}
                      .cont-about img{
                               border: solid 2px;
                               border-radius: 40px 40px 40px 40px;
                               box-shadow: 5px 5px 5px 5px rgb(104, 104, 104);
                               position: relative;
                            }
                     .about-txt{
                                  width: 25%;
                                  position: relative;
                               }
                            .about-txt p{
                                  padding: 50px;
                                  text-align: justify;
                                        }
.cont-cards{
    padding: 5%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/1115102.png);
    background-attachment: fixed;
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    position: relative;

  
}
     


    .cards{
                display:grid;
                grid-template-columns: 40% 40%;
                gap: 5em;

    
                }


                         .cards .card{ 
                             box-shadow: 5px 5px 5px 5px rgb(104, 104, 104);
                             
                        
                              }
                            
                                     .cards .card h5, .cards .card p{
                                            font-family: code;
                                            
                                       }    
.cont-contacts{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-image: url(../imgs/test2.jpg);
    background-attachment: fixed;
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
  
    position: relative;
}
                .form{
                    background-color: rgba(13, 17, 23,.85);
                    margin:50px;
                    border: 5px solid #ffffff;
                    padding: 30px; 
                    position: relative;   
                    }
                             input,textarea{

                                             display: block;
                                             border-radius: 7px 7px 7px 7px;
                                             border: 2px solid #ffffff;
                                             width: 500px;
                                             font-family: code;
                                             font-size: 1.2em;
                                             font-weight: 900;
                                             padding-left: 7px;
                                             
                                             }
                                                label{
                                                 position: relative;
                                                 color: #ffffff;
                                                 margin: 5px;
                                                 font-size: 1.5em;
                                                 font-family: code;
                                                     }
                                               header h1{
                                                position: relative;
                                                color:rgb(245, 255, 107);
                                                font-weight: 600;
                                                margin: 5px;
                                                font-size: 2.5em;
                                                font-family: code;
                                                letter-spacing: 5px;
                                                        }
                                              header h5{
                                                 position: relative;
                                                 color: #ffffff;
                                                 margin: 5px;
                                                 font-size: 1.3em;
                                                 font-family: code;
                                                 letter-spacing: 1px;
                                                        }
                                                       input:focus,textarea:focus{
                                                        outline: none;
                                                        border: 2px solid rgb(238, 83, 83); 
                                                        }
                .redes {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        }
                        .redes a{
                                    margin:10px;
                                    font-size: 3em;
                                    color: rgb(255, 83, 83);
                                    }
.cont-tools{
    display:flex;
    justify-content: center;
    align-items: center;
    background-image: url(../imgs/pc.jpg);
    background-attachment: fixed;
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
    border-bottom: 2PX SOLID rgb(245, 255, 107);;
    position: relative;
    padding: 5%;
}
            .cont-tools .tools{
                    display:grid;
                    grid-template-columns: 30% 30% 30%;
                    gap: 5em;
                    padding: 50px;
                    position: relative;
            }
                        .cont-tools .tools div img{
                                        width: 200px;
                                        height: 180px;  
                                        object-fit: contain;
                                       }       
footer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: code;
    font-size: 1.2em;
    font-weight: 200;
    letter-spacing: 5px;
    background-color: rgb(13, 17, 23);
    color:#f880ae;
    border-bottom: 2px solid rgb(245, 255, 107);
}


@media screen and (max-width:1400px){
    .cont-button-home button{
        font-size: 0.7em;       
    }


        .home h5{
             font-size: 1.3em;    
            }
        .home h1{      
             font-size: 4em;
            }
        .home h2{  
             font-size: 1em;
             letter-spacing: 5px;
            }
            .cont-button-home button{
                padding: 5px;
                font-size: 0.8em;       
            }
        

#title-a, #title-b,#title-c,#title-d{
              
                padding-top: 85px;
                padding-bottom: 85px;
                font-size: 4em;
                
            }
.cont-about{  
              padding-top: 50px; 
              
                               
            }    
            
            .cont-about div{
                display: flex;
                text-align: center;
                justify-content: center;
             
            }

            .cont-about img{
                width: 250px;
                height: 350px;
            }
            .about-txt{
               
                font-size: 0.7em;
                    }               




        .cont-contacts header{
            text-align: center;
            font-size: 1.2em;
        }
    

                    input,textarea{
                                     display: block;
                                     width: 95%;
                                     position: relative;
                                     font-size: 1.2em;

                                  }

                                        label{
                                         font-size: 1.2em;
                                         
                                             }


                                       header h1{
                                        
                                        font-size: 2em;
                                        
                                                }


                                      header h5{
                                    
                                         font-size: 1em;
                                      
                                                }       
        


                                                                                 
                                .cont-tools .tools div img{
                                             width: 170px;
                                             height: 120px;  
                                             object-fit: contain;
                                                        }       
                                                                                               
 footer{
                                                            height: 50px;
                                                           
                                                            font-size: 1.2em;
                                                            letter-spacing: 2px;
                                                            
                                                        }
                                                        
        

}                        





                                                                        
@media screen and (max-width:1200px){
    .cont-button-home button{
        font-size: 0.7em;       
    }
.cont-home{
    width: 70%;
    height: 40%; 
    }    

        .home h5{
             font-size: 1em;    
            }
        .home h1{      
             font-size: 3em;
            }
        .home h2{  
             font-size: 1em;
             letter-spacing: 5px;
            }
            .cont-button-home button{
                padding: 5px;
                font-size: 0.8em;       
            }
        

#title-a, #title-b,#title-c,#title-d{
              
                padding-top: 75px;
                padding-bottom: 75px;
                font-size: 3em;
                
            }
.cont-about{  
              padding-top: 50px; 
              display: block;
                               
            }    
            
            .cont-about div{
                display: flex;
                text-align: center;
                justify-content: center;
             
            }

            .cont-about img{
                width: 200px;
                height: 300px;
            }
            .about-txt{
                width: 100%;
                font-size: 0.9em;
                    }               
.cards{
        display: block;

      }    
      
        .cards .card{
            
            margin: 30px;
            
         
        }

.cont-contacts{
            display:block;        
}      

        .cont-contacts header{
            text-align: center;
            font-size: 1.2em;
        }
    
.form{
            margin:50px;
            
            padding: 20px;    
            }
                    input,textarea{
                                     display: block;
                                     width: 95%;
                                     position: relative;
                                     font-size: 1.2em;

                                  }

                                        label{
                                         font-size: 1.2em;
                                         
                                             }


                                       header h1{
                                        
                                        font-size: 2em;
                                        
                                                }


                                      header h5{
                                    
                                         font-size: 1em;
                                      
                                                }       
        

.cont-tools .tools{
              display:grid;
              grid-template-columns: 40% 40%;
              gap: 5em;
                                       }
                                                                                 
                                .cont-tools .tools div img{
                                             width: 120px;
                                             height: 100px;  
                                             object-fit: contain;
                                                        }       
                                                                                               
 footer{
                                                            height: 50px;
                                                           
                                                            font-size: 0.7em;
                                                            letter-spacing: 2px;
                                                            
                                                        }
                                                        
        

}                        






